[Unit]
Description=Keycloak identity provider
Wants=network-online.target
After=network-online.target

[Container]
Image=quay.io/keycloak/keycloak:latest
ContainerName=keycloak
Network=${APP_NAME}
EnvironmentFile=/var/local/${APP_NAME}/keycloak.env
Exec=start

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target
